In [2]:
import pandas as pd

In [4]:
df_allrich_infoP = pd.read_csv(r'/home/usuario/Documentos/Ironhack/Ironhack-Module-1-Project---Commercial-Optimization/data/processed/allrich_processed.csv')
df_allrich_infoP.head()

,Unnamed: 0,Unnamed: 0.1,id,name,position,lastName,age,gender,country,image,worth_in_BUSD,worthChange_in_MSD,realTimeWorth,realTimePosition,Industry,Company
0,0,0,3614,Anant asavabhokhin & family,NaN,not_name_given,0.0,not_gender_given,not_country_given,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1,1,6176,Arash ferdowsi,NaN,not_name_given,0.0,not_gender_given,not_country_given,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2,2,4405,Banthoon lamsam & family,NaN,not_name_given,0.0,not_gender_given,not_country_given,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,3,3,7374,Bill adderley & family,NaN,not_name_given,0.0,not_gender_given,not_country_given,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,4,4,4404,Boris zingarevich,NaN,not_name_given,0.0,not_gender_given,not_country_given,NaN,0.0,0.0,NaN,NaN,NaN,NaN