# Data Cleaning!

In [3]:
import pandas as pd

In [271]:
#df_per_info = pd.read_csv('/home/usuario/Documentos/Ironhack/Ironhack-Module-1-Project---Commercial-Optimization/data/raw/perinfo_origin.csv')
#df_bus_info = pd.read_csv('/home/usuario/Documentos/Ironhack/Ironhack-Module-1-Project---Commercial-Optimization/data/raw/businfo_origin.csv')
#df_ran_info = pd.read_csv('/home/usuario/Documentos/Ironhack/Ironhack-Module-1-Project---Commercial-Optimization/data/raw/rankinfo_origin.csv')
df_allrich_info = pd.read_csv('/home/usuario/Documentos/Ironhack/Ironhack-Module-1-Project---Commercial-Optimization/data/raw/allrich_origin.csv')
df_allrich_info.head()

,Unnamed: 0,id,name,position,lastName,age,gender,country,image,Source,worth,worthChange,realTimeWorth,realTimePosition
0,0,3614,anant asavabhOKHIN & FAMIly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6176,arash FERDOWSi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4405,banthoon LAMSAM & FAmily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7374,BILL ADDERLEY & Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4404,boris zINGAREVICh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
#converting null in zero
def conv_null_zero(x):
        if pd.notna(x) :
            return x
        else:
            return 0

In [258]:
#personal_info_bi

#1 Last_name treatment = Minus caps to all letters and then first one in Mayus

def capitalize(x):
    try:
        b = x.capitalize()
        return b
    except:
        return x

display(df_allrich_info['lastName'])

df_allrich_info['lastName'] = df_allrich_info['lastName'].apply(capitalize) #1
df_allrich_info['name'] = df_allrich_info['name'].apply(capitalize) #1
#df_allrich_info['lastName'] = df_allrich_info['lastName'].str.capitalize() #1
display(df_allrich_info['lastName'])
display(df_allrich_info['name'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
2255     ZHAO
2256     zhOU
2257      ZHU
2258     zHUO
2259    ZORLu
Name: lastName, Length: 2260, dtype: object

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
2255     Zhao
2256     Zhou
2257      Zhu
2258     Zhuo
2259    Zorlu
Name: lastName, Length: 2260, dtype: object

0       Anant asavabhokhin & family
1                    Arash ferdowsi
2          Banthoon lamsam & family
3            Bill adderley & family
4                 Boris zingarevich
                   ...
2255                 Zhao xiaoqiang
2256                Zhou liangzhang
2257                   Zhu xingming
2258                       Zhuo jun
2259                    Olgun zorlu
Name: name, Length: 2260, dtype: object

In [260]:
#2 age = whole years (4 digits) calculation to actual age.

#función para calcular la edad en función del año
def age_calc(x):
    try:
        if len(str(x)) == 4:
            new_age = 2019 - int(x)
            return int(new_age)
        else:
            return int(x)
    except:
        return x

#2 age     
df_allrich_info['age'] = df_allrich_info['age'].apply(age_calc)#2
display(df_allrich_info['age'])
df_allrich_info['age'] = df_allrich_info['age'].apply(age_calc)#2

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
2255    51 years old
2256    55 years old
2257    51 years old
2258    52 years old
2259    54 years old
Name: age, Length: 2260, dtype: object

In [262]:
#2.1  The rest of the figures remove "years old"

def replace_str(x):
    try:
        return int(x.replace(' years old',""))
    except:
        return x

    
#2.1 age/years old
df_allrich_info['age'] = df_allrich_info['age'].apply(replace_str)#2
display(df_allrich_info['age'])
df_allrich_info['age'] = df_allrich_info['age'].apply(conv_null_zero)#2 
display(df_allrich_info['age'])

#def change_years(x):
  #  try:
   #     for i in x.split(): 
    #        if i.isdigit() is True:
     #           num = i
      #  return int(num)
    # except:
      #  return x

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
2255    51.0
2256    55.0
2257    51.0
2258    52.0
2259    54.0
Name: age, Length: 2260, dtype: float64

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
2255    51.0
2256    55.0
2257    51.0
2258    52.0
2259    54.0
Name: age, Length: 2260, dtype: float64

In [265]:
#5 worth = removed BUSD

def convert_billions(x):
    try:
        return float(x.replace(' BUSD',""))
    except:
        return float(x)

df_allrich_info['worth'] = df_allrich_info['worth'].apply(convert_billions)#5
display(df_allrich_info['worth'])
df_allrich_info['worth'] = df_allrich_info['worth'].apply(conv_null_zero)#5
display(df_allrich_info['worth'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2255    1.0
2256    1.0
2257    1.0
2258    1.0
2259    1.0
Name: worth, Length: 2260, dtype: float64

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2255    1.0
2256    1.0
2257    1.0
2258    1.0
2259    1.0
Name: worth, Length: 2260, dtype: float64

In [267]:
display(df_bus_info['worthChange'])
#6 worthchange = removed millions USD and then multiply it for 1.000.000

def convert_millions(x):
    try:
        return float(x.replace(' millions USD',""))*1000000
    except:
        return float(x)*1000000

df_allrich_info['worthChange'] = df_allrich_info['worthChange'].apply(convert_millions)#5
display(df_allrich_info['worthChange'])
df_allrich_info['worthChange'] = df_allrich_info['worthChange'].apply(conv_null_zero)
display(df_allrich_info['worthChange'])

0       0.000000e+00
1      -1.000000e+51
2      -2.000000e+51
3       0.000000e+00
4       0.000000e+00
            ...
2203    0.000000e+00
2204             NaN
2205    0.000000e+00
2206    0.000000e+00
2207             NaN
Name: worthChange, Length: 2208, dtype: float64

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2255    0.0
2256    0.0
2257    0.0
2258    0.0
2259    0.0
Name: worthChange, Length: 2260, dtype: float64

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2255    0.0
2256    0.0
2257    0.0
2258    0.0
2259    0.0
Name: worthChange, Length: 2260, dtype: float64

In [268]:
#Analysis

#business_info_bi
#4 source --> Divided by 2 columns from ==> first one is industry_1 second industry_2 

#3 gender = Male to M


str= 'Technology  ==> Microsoft'